body {
    background-color: gray;
    color: rgb(68, 255, 193);
}

li {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: solid;
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}