body {
    background-color: rgb(197, 197, 197);
    color: rgb(0, 71, 47);
}

li {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: solid;
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    width: 70%;
    margin: 40px auto;
    border: 3px solid black;
    box-shadow: 3px 7px black ;
}